*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
}

.header_top {
    background-color: #B90467;
}

.header_top a{
    color: white;
    margin: 0 10px;
}

.header_mid{
    background-color: white;
}

.header_mid #icon img{
    width: 70%;
    height: 70%;
}

.header_mid .center{
    margin-top: 3%;
}

.header_bottom ul{
    width:100%;
    background: white;
    display: flex; 
}
.header_bottom li{
    flex: 1; 
    text-align: center;
}

.header_bottom li a{
    font-size: 20px;
    font-weight: bold;
}

.footer{
    padding: 5% 0;
    background: #B90467;
    text-align: center;
}

.footer a {
	margin: 0 10px;
    color: white;
}

.footer .copyright{
    display: block;
}
