<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	
	<mvc:resources location="/resources/css/" mapping="/css/**"/>
	<mvc:resources location="/resources/image/" mapping="/img/**"/>
	<mvc:resources location="/resources/js/" mapping="/js/**"/>
	
	<mvc:resources location="/resources/image/0" mapping="/img/0/**"/>
	<mvc:resources location="/resources/image/1" mapping="/img/1/**"/>
	<mvc:resources location="/resources/image/2" mapping="/img/2/**"/>
	<mvc:resources location="/resources/image/3" mapping="/img/3/**"/>
	<mvc:resources location="/resources/image/4" mapping="/img/4/**"/>

	<context:component-scan base-package="cn.ytc.webstore" use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice"/>	
	</context:component-scan>
	
	<!-- configure viewResolver -->
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
	<!-- the pre/suffix to be added to the name of the view to match with the file -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
    	<property name="maxUploadSize" value="5000000" />
	</bean>


</beans>
